.left {
    width: 70%;
}
.title {
    font-weight: 500;
}
.product-title {
    display: flex;
}

.image {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.name {
    display: inline-block;
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fw500 {
    font-weight: 500;
}

.ml10 {
    margin-left: 10px;
}
.p10 {
    padding: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.border-top {
    border-top: 1pt solid #ccc;
}

.info {
    display: flex;
    flex-direction: column;
    
}

.right {
    width: 25%;
}

.row-total {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.message {
    padding-bottom: 20px;
}

.remove {
    cursor: pointer;
}
