.search {
    height: 50px;
    // width: 40%;
    width: 450px;
    display: flex;
    border-radius: 92px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1.5px solid #ccc;

    &:focus-within {
        border: 1.5px solid #333;
    }
}

.input-search {
    flex: 1;
    font-size: 18px;

    // height: 100%;
    border-radius: 92px;
    margin-left: 8px;
    background-color: transparent;
}

.search-btn {
    width: 40px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.close {
    display: flex;
    align-items: center;
    margin: 0 8px;

    &:hover {
        cursor: pointer;
        font-size: 18px;
    }
}
