.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px 10px;
    // background-color: #f6f6f6;
    // margin: 10px;

    width: 31.5%; 
}

.wrapper-image {
    background-color: #f6f6f6;
}

.image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.name {

    &:hover {
        text-decoration: underline;
    }
}
